* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffefe7;
  font-family: "IBM Plex Sans", sans-serif;
}
body svg path {
  stroke: currentColor;
}

nav {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  padding: 0 6.75rem;
  color: #7c6a0a;
  align-items: center;
}
nav p {
  font-size: 3rem;
}
nav .icons {
  display: flex;
  gap: 4rem;
}
nav .icons button {
  background: none;
  border: none;
}
nav .icons .svg {
  filter: invert(36%) sepia(98%) saturate(394%) hue-rotate(13deg) brightness(91%) contrast(95%);
  width: 4.8rem;
}

article {
  display: flex;
  justify-content: space-around;
  color: #7c6a0a;
  width: auto;
  padding: 6.5rem;
}
article .impact-section {
  width: 68%;
}
article h1 {
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 6rem 0;
}
article .parrrafo {
  width: 56%;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
article button {
  background-color: #fa9500;
  border: none;
  border-radius: 3.5rem;
  display: flex;
  width: 26.1rem;
  height: 7.3rem;
  padding: 2.1rem 5.5rem 2.2rem 3.6rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
article img {
  width: 45rem;
  height: 69.6rem;
  border-radius: 1.5rem;
}

section {
  width: 100%;
  height: auto;
  background-color: #ffefe7;
  padding: 6rem;
}
section h2 {
  color: #7c6a0a;
  font-size: 5rem;
  padding-bottom: 6rem;
}

.product-section {
  background-size: cover;
  background-position: top;
  color: #7c6a0a;
}
.product-section .card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 27rem;
       column-gap: 27rem;
  row-gap: 10rem;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 7rem;
}
.product-section .healthcare .product-card, .product-section .furniture .product-card {
  width: 32.4rem;
  height: 50.2rem;
  display: flex;
  background: rgba(255, 218, 198, 0.674);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.286);
  flex-direction: column;
}
.product-section .healthcare .icono, .product-section .furniture .icono {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0.8rem 0.8rem;
}
.product-section .healthcare .icono img, .product-section .furniture .icono img {
  width: 3.1rem;
  filter: invert(36%) sepia(98%) saturate(394%) hue-rotate(13deg) brightness(91%) contrast(95%);
}
.product-section .healthcare .product-image, .product-section .furniture .product-image {
  padding: 1.2rem 4.5rem 4.5rem;
}
.product-section .healthcare .product-image h2, .product-section .furniture .product-image h2 {
  font-weight: 300;
  padding-bottom: 6rem;
}
.product-section .healthcare .product-image h3, .product-section .furniture .product-image h3 {
  font-size: 2.5rem;
}
.product-section .healthcare .product-image p, .product-section .furniture .product-image p {
  font-size: 1.5rem;
}
.product-section .healthcare .card-image, .product-section .furniture .card-image {
  width: 24.1012rem;
  height: 29.9637rem;
  border-radius: 0.65rem;
}
.product-section .furniture .product-card {
  background: rgba(186, 189, 141, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

footer {
  background-color: #fa9500;
  width: 100%;
  height: 50rem;
}/*# sourceMappingURL=main.css.map */